<div class="row post" *ngFor="let post of posts">
    <div class="col-md-1">
        <app-vote-button [post] ="post"></app-vote-button>
    </div>
    <div class="col-md-11">
        <span class="pjsubblog-info">
            <span class="pjsubblog-text"><a class="posturl" routerLink="">{{post.subblogName}}</a></span>
            <span> . Posted by <a class="username" (click) = "openModal(post.userName)">{{post.userName}}</a></span>
            <span> . {{post.duration}}</span>
            <app-user-display-model #modal [userModelConfig]="modalConfig">
                <!--  body of the modal  -->
              </app-user-display-model>
        </span>
        <hr/>
        <div class="post-title">
            <a class="postname" href = {{post.url}}>{{post.postName}}</a>
        </div>
        <div>
            <p class="post-text" [innerHtml] = "post.description"></p>
        </div>
        <hr/>
        <span>
            <a class="btnComments" role="button">
                <fa-icon [icon]="faComments"></fa-icon>
                Comments({{post.commentCount}})
            </a>
            <button class="login" (click)="goToPost(post.id)">Read Post</button>
        </span>
    </div>
</div>

