<div class="sidebar">
    <img class="center" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyfJMTBdFH8C4qV38dRDgSVOv1RYpnUtbPIA&usqp=CAU">
    <div style="text-align: center; font-size:1em"> Welcome to PJ Subblog Home. Checkout your favorite Blogs.</div>
    <div style="text-align:center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center;">
        <button class="btnCreateSubblog" (click) = "goToCreateSubblog()">Create Subblog</button>
    </div>
</div>