<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ userModelConfig.modalTitle }}</h5>
  </div>
  <div class="modal-body">
    <div>Total Posts: {{ userModelConfig.postLen }}</div>
    <div>Total Comments: {{ userModelConfig.commentLng }}</div>
    <ng-content>
    </ng-content>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="dismiss()"
            *ngIf="userModelConfig.hideDismissButton === undefined || !userModelConfig.hideDismissButton()"
            [disabled]="userModelConfig.disableDismissButton !== undefined && userModelConfig.disableDismissButton()">
      {{ userModelConfig.dismissButtonLabel }}
    </button>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="close()"
            *ngIf="userModelConfig.hideCloseButton === undefined || !userModelConfig.hideCloseButton()"
            [disabled]="userModelConfig.disableCloseButton !== undefined && userModelConfig.disableCloseButton()">
      {{ userModelConfig.closeButtonLabel }}
    </button>
  </div>
</ng-template>