<div class="continer">
    <div class="row">
        <hr/>
        <div class="create-post-continer col-md-9">
            <form class="post-form" [formGroup] = "createPostForm" (ngSubmit) = "createPost()">
                <div class="form-group">
                    <div class="create-post-heading">
                        Create Post
                    </div>
                    <hr/>
                    <input type="text" [formControlName] ="'postName'" class="form-control" style="margin-top: 5px;" placeholder="Title">
                    <input type="text" [formControlName] = "'url'" class="form-control" style="margin-top: 5px;" placeholder="URL">
                    <select class="form-control" style="margin-top: 10px;" [formControlName] = "'pjsubblogname'" (change) = "getSubblogDetails($event.target.value)" [(ngModel)] = "selectedSubblogId">
                        <option value="0" disabled>Select PJ Blog</option>
                        <option *ngFor = "let pjblog of pjblogs" [value] = "pjblog.id">{{pjblog.name}}</option>
                    </select>
                    <editor [formControlName] = "'description'" [init] = "{
                        height : 500,
                        menubar : false,
                        plugins: ['advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'],
                        toolbar: 'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'}"></editor>
                        <span>

                            <div style="margin-top: 5px;" class="float-right">
                            <button (click) = "discardPost()" class = "btnDiscard">Discard</button>
                            <button type="submit" class="btnCreatePost">Post</button>
                            </div>
                        </span>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <p style = "line-height: 1.4;"></p>
            <div *ngIf = "blogFound; else elseBlock"> 
                <label class="create-post-heading" id = "blogHeading">Description of the PJBlog ({{pjblog.name}})</label>
                <div></div>
                <label class="blogDetails" id = "blogDeatils">{{pjblog.description}}</label>
                <label class="blogDetails" id = "blogPostCount">Post Count: {{pjblog.postCount}}</label>
            </div>
            <ng-template #elseBlock>Waiting on Blog details. Please select one from the dropdown list if not already done.</ng-template>
           <!-- <guidlines></guidlines>
            <about></about>  -->
        </div>
    </div>
</div>